
-- Create the posts table
create table public.posts (
  id uuid default gen_random_uuid() primary key,
  title text not null,
  slug text not null unique,
  content text not null,
  excerpt text,
  featured_image text,
  published_at timestamp with time zone,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null,
  updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
  status text default 'draft'::text check (status in ('draft', 'published')),
  author text not null
);

-- Enable Row Level Security (RLS)
alter table public.posts enable row level security;

-- Create policies
create policy "Posts are viewable by everyone" on posts
  for select using (true);

create policy "Posts are editable by authenticated users only" on posts
  for all using (auth.role() = 'authenticated');

-- Create an index on slug for faster lookups
create index posts_slug_idx on posts (slug);

